extends base

block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')

        .card-deck
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title GHS 12,000
                    h6.card-subtitle.mb-2.text-muted Total Sales
                    p.card-text Text
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title GHS 12,000
                    h6.card-subtitle.mb-2.text-muted Total Sales
                    p.card-text Text
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title GHS 12,000
                    h6.card-subtitle.mb-2.text-muted Total Sales
                    p.card-text Text
            .card.h-75.d-inline-block.border-dark
                .card-body
                    h5.card-title GHS 12,000
                    h6.card-subtitle.mb-2.text-muted Total Sales
                    p.card-text Text
        br
        br
        br
        section
            h2 Sales
            .table-responsive
                table.table.table-hover
                    thead.thead-dark
                        tr
                            th(scope='col') Order Number
                            th(scope='col') Date
                            th(scope='col') Customer Name
                            th(scope='col') Amount Paid
                            th(scope='col') Refund Total
                            th(scope='col') Handle
                    tbody
                        tr
                            th(scope='row') GH-10G2A
                            td June 15, 2021
                            td Mark Thompson
                            td GHS 2180
                            td GHS
                        tr
                            th(scope='row') 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            th(scope='row') 3
                            td Larry
                            td the Bird
                            td @twitter
        br
        br
        br
        section
            h2 Refunds
            .table-responsive
                table.table.table-hover
                    thead.thead-dark
                        tr
                            th(scope='col') #
                            th(scope='col') First
                            th(scope='col') Last
                            th(scope='col') Handle
                    tbody
                        tr
                            th(scope='row') 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            th(scope='row') 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            th(scope='row') 3
                            td Larry
                            td the Bird
                            td @twitter

